<div class="container">
    {{> site-nav}}
    <div class="container-admin">
        <div class="nav-admin">
            <div class="navlink conKitap">
                <a href="/admin/books">Kitaplar</a>
            </div>
            <div class="hr">
            </div>
            <div class="navlink ">
                <a href="/admin/categories">Kategoriler</a>
            </div>
        </div>
        <div class="content-main">
        </div>
    </div>
</div>