<style>
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }


    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .registerbtn {
        position: relative;
        width: auto;
        padding: 10px 36px;
        background-color: #1c3af8;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }


    .containerA {
        padding: 16px;
    }

    .containerAa {
        padding: 16px;
        display: flex;
        position: relative;
        flex-flow: row wrap;
        justify-content: space-between;
        width: auto;
    }

    span.psw {
        float: left;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: inline-block;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgb(255, 255, 255);
        /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 50%;
        /* Could be more or less, depending on screen size */
    }



    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }

    }

    span a {
        color: rgb(40, 40, 243)
    }


    /*------------------------*/

    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }

    /* Float cancel and signup buttons and add an equal width */
    .signupbtn {
        width: 80%;
    }

    /* Add padding to container elements */
    .containerB {
        padding: 16px;
    }

    /* The Modal (background) */
    .modal2 {
        display: ;
        /* Hidden by default */
        position: fixed;
        top: 0;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        width: 100%;
        /* Full width */
        /* Full height */
        /* Enable scroll if needed */
        background-color: #e2d6d68a;
        padding: 0 auto;
        height: 100%;
        padding-top: 60px;

    }

    /* Modal Content/Box */
    .modal-content2 {
        background-color: #fefefe;
        margin: 5% auto 5% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid rgb(136, 136, 136);
        width: 50%;

        /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 26%;
        top: auto;
        font-size: 40px;
        font-weight: bold;
        color: #000000;
    }

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

    .clearfix {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }

    @media screen and (max-width: 300px) {
        .modal-content {
            width: 100%;
        }
    }
</style>
<div class="container">
    {{> site-nav}}
    <div id="id01" class="modal">

        <form class="modal-content animate" action="/users/login" method="post">
            {{!-- <div class="imgcontainer">
                <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div> --}}

            <div class="containerA">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Email" name="email" required="required">

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required="required">

                <button type="submit">Login</button>

            </div>

            <div class="containerAa" style="background-color:#f1f1f100">
                <span class="psw">Forgot <a href="#">password?</a></span>
                <button type="button" class="registerbtn"
                    onclick="document.getElementById('id02').style.display='block'"
                    style="width: auto">Register</button>
            </div>
        </form>
    </div>

    <div id="id02" class="modal2">

        <form class="modal-content2" action="/users/register" method="post">
            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <div class="containerB">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr />
                <label for="email"><b>name surname</b></label>
                <input type="text" placeholder="name surname" name="name" required="required" />

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required="required" />

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required="required" />

                <p>
                    By creating an account you agree to our
                    <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
                </p>

                <div class="clearfix">
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("id02");

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
</script>