<div class="container-sBar">
    <div class="rowBar">
        <div class="search-container">
            <form action="/book">
                <input type="search" name="search" class="search" placeholder="Kitap Arama...">
                <button type="submit" class="fa fa-search "></button>
            </form>
        </div>
        <div class="loginDrop">
            <div class="loginBar">
                <button onclick="myFunction()" class="dropbtn">Giriş Yap</button>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <a href="/users/login">Login</a>
                <a href="/users/login">Register</a>
            </div>
        </div>
    </div>
</div>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>