<body>
    {{> site-nav}}
    <ul class="cardList">
        {{#each books}}
        <li class="inCard">
            <div class="bookList">
                <div class="bookImg">
                    <a href="#"><img src="https://img.kitapyurdu.com/v1/getImage/fn:11493299/wh:true/wi:800"
                            alt="resim"></a>
                </div>
                <div class="bookContent">
                    <div class="title">
                        <a class="aTitle" href="#">{{title}}</a>
                    </div>
                    <div class="publisher">
                        <a class="aPublisher" href="#">{{publisher}}</a>
                    </div>
                    <div class="author">
                        <a class="aAuthor" href="#">{{author}}</a>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</body>