<body>
    {{> site-nav}}
    <ul class="cardList">
        <li class="inCard">
            <div class="bookList">
                <div class="bookImg">
                    <a href="#"><img src={{book.book_image}} alt="resim"></a>
                </div>
                <div class="bookContent">
                    <div class="title">
                        <a class="aTitle" href="#">{{book.title}}</a>
                    </div>
                    <div class="publisher">
                        <a class="aPublisher" href="#">{{book.publisher}}</a>
                    </div>
                    <div class="author">
                        <a class="aAuthor" href="#">{{book.author}}</a>
                    </div>
                </div>
                <div class="price"></div>
            </div>
        </li>
    </ul>
</body>